@import 'index.css';

input[type='submit'] {
  background-color: var(--bg-color);
  border: none;
  border-radius: 999rem;
  color: white;
  padding: 0.6rem 0.1rem;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  margin: 3rem 0 0 0;
  width: 50%;
  align-self: center;
  cursor: pointer;
  transition: all ease-in-out;
  transition-duration: 0.1s;
}

input[type='submit']:hover {
  background-color: var(--bg-color-hover);
  cursor: pointer;
  transform: scale(1.1);
}

form input {
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 9999rem;
}

form input:active,
form input:focus,
form textarea:active,
form textarea:focus {
  outline: none;
  border: none;
  padding: 0.5rem;
}

form label {
  font-size: 1.2rem;
  padding: 0.2rem;
  margin: 0.1rem;
}

form {
  padding: 3rem;
  background-color: rgba(187, 137, 10, 0.767);
  backdrop-filter: blur(20px);
  border-radius: 3rem;
}

textarea {
  font-size: 1rem;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-radius: 1rem 1rem 0 1rem;
  font-family: 'Poppins', sans-serif;
}

fieldset {
  margin: 1rem 0;
  border: none;
  padding: 0.25rem 0;
}

fieldset legend {
  margin: 1rem 0;
}

table {
  text-align: center;
  border: 1px solid whitesmoke;
  width: auto;
  margin: 1rem auto 3rem auto;

  border-collapse: collapse;
}

tr,
td {
  border: 1px solid white;
}
tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
td {
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
}
tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.03);
}
th {
  font-size: 1.15rem;
  font-weight: 500;
}

@media only screen and (max-width: 600px) {
  main {
    margin-top: 0;
  }
  input[type='submit']:hover {
    background-color: var(--bg-color-hover);
    cursor: pointer;
    transform: scale(1.1);
  }

  form input {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 9999rem;
  }

  form input:active,
  form input:focus,
  form textarea:active,
  form textarea:focus {
    outline: none;
    border: none;
    padding: 0.5rem 1rem;
  }

  form label {
    padding: 0.2rem;
    margin: 0.1rem;
  }

  form {
    padding: 3rem;
    background-color: rgba(187, 137, 10, 00);
    backdrop-filter: blur(20px);
    width: 100%;
    font: 1rem;
  }

  textarea {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    border-radius: 1rem 1rem 0 1rem;
    font-family: 'Poppins', sans-serif;
  }

  fieldset {
    margin: 1rem 0;
    border: none;
    display: flex;
    flex-direction: column;
  }

  fieldset legend {
    margin: 1rem 0;
    font-size: 1rem;
  }
  fieldset select {
    margin: 1rem 0;
  }
}
